name: CI

permissions: {}

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          persist-credentials: false

      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint files
        run: npm run lint

      - name: Bundle
        run: npm run bundle

      - name: Test
        run: npm test

      - name: Build Docker Image
        run: |
          export tag=${GITHUB_REF/refs\/branches\/}
          docker build . -t har-to-k6:tag
