name: CI

permissions: {}

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint files
        run: npm run lint

      - name: Bundle
        run: npm run bundle

      - name: Test
        run: npm test

      - name: Build Docker Image
        run: |
          export tag=${GITHUB_REF/refs\/branches\/}
          docker build . -t har-to-k6:tag
