name: Release

permissions: {}

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: RELEASE

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup environment
        uses: actions/setup-node@v3
        with:
          node-version: '24.5.0'
          package-manager-cache: false
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Lint files
        run: npm run lint

      - name: Test
        run: npm test

      - name: Bundle
        run: npm run bundle

      - name: Publish to NPM
        run: npm publish --access public

      - name: Login to DockerHub
        uses: grafana/shared-workflows/actions/dockerhub-login@c6d954f7cd9c0022018982e01268de6cb75b913c # dockerhub-login/v1.0.2

      - name: Login to DockerHub
        uses: grafana/shared-workflows/actions/dockerhub-login@c40eb37be87f39f641802f5f1cc746825d4a3e9b

      - name: Build docker image
        run: |
          export tag=${GITHUB_REF/refs\/tags\/v/}
          docker build . -t grafana/har-to-k6:$tag
          docker tag \
            grafana/har-to-k6:$tag \
            grafana/har-to-k6:latest
          docker push grafana/har-to-k6:$tag
          docker push grafana/har-to-k6:latest

  create-github-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: publish
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Create Release Notes
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        env:
          GITHUB_REF: ${{ github.ref }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          github-token: ${{ env.GITHUB_TOKEN }}
          script: |
            await github.request(`POST /repos/${{ env.GITHUB_REPOSITORY }}/releases`, {
              tag_name: "${{ env.GITHUB_REF }}",
              generate_release_notes: true
            });
